
.mask {
  background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}
